body {
    background: rgb(255, 208, 0);
    background: -webkit-linear-gradient(to left, rgb(255, 208, 0), navy);
    background: linear-gradient(to left, navy, rgb(255, 208, 0));
    min-height: 100vh;
}

.TEST {
    min-height: 300px;
}