
body {
        --backgroundPosition: 0% 0%;
        background: linear-gradient(180deg, #F9B418 0%,
                navy 25%,
                #F9B418 50%,
                navy 100%);
        background-size: 100% 300%;
        background-position: var(--backgroundPosition);
        transition: background-position .5s ease;
    }


.TEST {
    min-height: 300px;
    font-family: 'Rubik', sans-serif;

}