
.about{
    padding-top: 150px;
     font-size: 90px;
     font-family: 'Teko', sans-serif;
     margin-right: 20%;
}
.werntz {
    padding-top: 5%;
}
.inf{
    padding-right: 10%;
    padding-bottom: 10%;
}
.content{
    justify-content: center;
    color: navy;
    background-color: white;
    border-radius: 3%;
    padding: 3%;
}
body{
    background-color: #F9B418;
}
.ti {
font-family: 'Teko', sans-serif;
font-size: 80px;
}