/* Navigation Bar */
.bg-secondary {
    background-color: navy !important;
}
.active {
    color: #F9B418 !important;
}
.nav-link {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.nav-link:hover {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: #F9B418 !important;
}

.wrapper .multi_color_border {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 20px;
    background: linear-gradient(to right,
            #F9B418 50%,
            #F9B418 50%,
            #F9B418 50%,
            navy 50%,
            navy 50%,
            navy 50%);
}

.hometitle{
    font-family: 'Teko', sans-serif;
    color: navy;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
}
.ptitle {
    font-family: 'Teko', sans-serif;
    color: navy;
    text-align: center;
    font-size: 30px;
}
/* Schedule */
.title{
    font-size: 95px;
    font-family: 'Teko', sans-serif;
    color: navy !important;
    font-size: 25px;
}
.date {
  font-size: 72px;
  font-family: 'Teko', sans-serif;
    color: white;
    text-shadow: 4px 4px navy;
}
.date1 {
  font-size: 72px;
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 3px 3px #F9B418;
}
.subtitle{
    font-size: 125px;
    font-family: 'Teko', sans-serif;
    color: navy; 
}
.sub{
    font-size: 70px;
    font-family: 'Teko', sans-serif;
    color: #F9B418; 
    padding: 7px;
    text-shadow: 4px 4px  navy;
}
.block{
    text-align: center;
    vertical-align: middle;
    font-size:35px;
    padding-top: 20%;
    padding-bottom: 5%;
}
.circle{
    background : #F9B418 ;
    border-radius: 200px;
    color: navy;
    height: 400px;
    font-weight: bold;
    width: 400px;
    border: 6px solid navy;
    padding-top: 16%
}
/* Footer */
.site-footer
{
  background-color: white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:navy;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:navy;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:white;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: navy;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: navy;
}
.mustang{
  font-size: 97px;
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 4px 4px navy;
}
.school{
  font-size: 77px;
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 4px 4px navy;
}

